{{!-- Blog page info pulls up when blog is clicked on --}}
<div class="text">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p> 
<div>
<div>
  {{!--Lets user submit comment when logged in--}}
{{#if logged_in}}
<form class="new-comment-form" data-blogid={{id}}>
  <div>
    <textarea class="ml-5" id='comment_description' name="comment-body">
      



       -{{user.username}} {{format_date date_created}}
    </textarea>
   
  </div>
  <div>
    <button class="button is-primary ml-5 mb-5" type="submit">Submit Comment</button>
  </div>
</form>
<div class="comment_body" id="comment_body">
{{/if}}
{{!-- Lets user delete owned comments--}}
 {{#each comments as |comment|}}
 <div id="comment-out" style="border-style: solid;">
 <p id='comment_description' name="comment-body">{{comment.comment_description}}</p>
 <button class="btn btn-sm btn-danger" id="delete-comment-button" comment-id="{{comment.id}}" >Delete</button>
 </div>
 {{/each}}
</div>
